<template name="layout">
    {{>navbar}}
  <div>
    <h1 class="app-header">Simple Cost Estimator</h1>
  </div>
    <div class="container-fluid">
        <div class="row">
            <div class="span2 categories">
                {{>yield 'categories'}}
            </div>

            <div class="span6 prodlist">
                {{>yield 'products'}}
            </div>

            <div class="span4 cart">
                {{>yield 'cart'}}
            </div>
        </div>
    </div>
</template>
