<template name="layout">
    {{>Template.dynamic template=navbar}}
  <div>
    <h1 class="app-header">Simple Cost Estimator</h1>
  </div>
    <div class="container-fluid">
        <div class="row">
            <div class="span2 categories">
                {{>Template.dynamic template=left_sidebar}}
            </div>

            <div class="span6 prodlist">
                {{>Template.dynamic template=main_body}}
            </div>

            <div class="span4 cart">
                {{>Template.dynamic template=cart}}
            </div>
        </div>
    </div>
</template>